.table > div:nth-child(2) > div:nth-child(2) {
  border-top-left-radius: 12px;
}
.table > div:nth-child(2) > div:last-child {
  border-top-right-radius: 12px;
}
.table > div:last-child > div:nth-child(2) {
  border-bottom-left-radius: 12px;
}
.table > div:last-child > div:last-child {
  border-bottom-right-radius: 12px;
}
